*, *:before, *:after {
  box-sizing: inherit; }

@font-face {
  *, *:before, *:after {
    font-family: "Monique";
    src: url("fonts/Monique-RegularRound20.eot?") format("eot"), url("fonts/Monique-RegularRound20.woff2") format("woff2"), url("fonts/Monique-RegularRound20.woff") format("woff"), url("fonts/Monique-RegularRound20.ttf") format("truetype"), url("fonts/Monique-RegularRound20.svg#Monique") format("svg"); } }

html {
  overflow-y: scroll; }

body {
  /*z-index: 0;*/
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  cursor: crosshair;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  color: #030316; }

h1 {
  font-size: 36px;
  color: #030316; }

h2 {
  font-size: 28px;
  color: #030316; }

P {
  font-size: 18px;
  line-height: 28px;
  color: #000000; }

#nav-container {
  position: fixed;
  z-index: 5000;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 1440px;
  height: 80px;
  margin: auto; }

#nav-logo {
  position: absolute;
  font-family: 'Monique', monospace;
  letter-spacing: 6px;
  color: #030316;
  width: 100%;
  height: 80px;
  font-size: 29px;
  font-weight: 700;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  #nav-logo #logo {
    margin-top: 10px;
    width: 60px;
    height: 60px; }
    #nav-logo #logo img {
      width: 100%; }

#nav-buttons {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 2.2px;
  position: absolute;
  width: 100%;
  color: #030316; }

#nav-buttons-container {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  height: 80px; }
  #nav-buttons-container #left-button {
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: 18px;
    padding: 10px 18px;
    transition: .4s all; }
    #nav-buttons-container #left-button:hover {
      box-shadow: 2px 1.5px #030316;
      background-color: rgba(255, 255, 255, 0.8);
      transition: .4s all; }
  #nav-buttons-container #right-button {
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 18px;
    padding: 10px 18px;
    transition: .4s all; }
    #nav-buttons-container #right-button:hover {
      box-shadow: -2px 1.5px #030316;
      background-color: rgba(255, 255, 255, 0.8);
      transition: .4s all; }
  #nav-buttons-container .main-buttons {
    padding: 8px; }

#hide-menu {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  /* Need a specific value to work */
  width: 100%;
  height: auto;
  overflow: hidden; }

#menu-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  #menu-container .menu-options {
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
    #menu-container .menu-options .skill-title {
      font-size: 200px;
      font-weight: 700; }
      #menu-container .menu-options .skill-title #gd-outline {
        padding: 20px; }
      #menu-container .menu-options .skill-title #ui-outline {
        padding: 20px 63px; }

#gd-menu {
  width: 50%;
  background-image: url("../images/about-bg.png");
  background-size: 1440px;
  background-position: right;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  color: #FFDEFD; }
  #gd-menu span {
    border: 8px #FFDEFD double; }
  #gd-menu:hover {
    background-image: url("../images/about-bg.png");
    background-color: #FFDEFD;
    color: #FFFFFF;
    background-size: 1440px;
    background-position: right;
    background-repeat: no-repeat;
    background-blend-mode: multiply; }
    #gd-menu:hover span {
      border: 8px #FFFFFF double; }

#ui-menu {
  width: 50%;
  color: #FFFACC;
  background-image: url("../images/about-bg-reverse.png");
  background-color: #FFFFFF;
  background-size: 1440px;
  background-position: left;
  background-repeat: no-repeat;
  background-blend-mode: multiply; }
  #ui-menu span {
    border: 8px #FFFACC double; }
  #ui-menu:hover {
    background-image: url("../images/about-bg-reverse.png");
    background-color: #FFFACC;
    background-size: 1440px;
    background-position: left;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    color: #FFFFFF; }
    #ui-menu:hover span {
      border: 8px #FFFFFF double; }

#splash-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/about-bg-center.png");
  background-color: #D9F1FF;
  background-size: 1440px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-blend-mode: multiply; }

.fast-about-me {
  position: fixed;
  text-align: left;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .fast-about-me .fast-inner {
    width: 80%;
    margin-left: 10%;
    font-size: 60px;
    font-weight: 800;
    display: none; }

.welcome-message {
  position: fixed;
  width: 100%;
  text-align: left;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  transition-delay: .5s; }
  .welcome-message .welcome-inner {
    display: none;
    width: 80%;
    height: auto;
    font-size: 200px;
    font-weight: 800;
    color: white;
    margin-top: -200px; }

#about-container {
  display: none; }

#about-bg {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/about-bg-center.png");
  background-color: #daf0e6;
  background-size: 1440px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  margin: auto; }

.about-inner {
  z-index: 1;
  width: 90%;
  padding: 70px 0 40px 0;
  margin-left: 5%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  .about-inner #profile-container {
    width: 250px;
    height: 250px; }
    .about-inner #profile-container #profile-pic {
      width: 100%;
      height: 100%;
      background-image: url("../images/profile/a.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%; }
  .about-inner #about-headline {
    font-size: 36px;
    margin-bottom: 3%;
    width: 60%;
    letter-spacing: 2px;
    line-height: 45px;
    font-weight: 700; }
  .about-inner .about-title {
    font-size: 24px;
    line-height: 36px;
    border: 2px solid #000;
    padding: 0 10px;
    margin-bottom: 1%; }
  .about-inner .about-items {
    font-size: 20px;
    margin-bottom: 3%;
    width: 60%;
    line-height: 36px; }
  .about-inner .connect {
    font-size: 20px;
    margin-bottom: 3%; }
  .about-inner .my-links {
    font-size: 20px; }
    .about-inner .my-links a {
      color: #000000;
      text-decoration: none; }
      .about-inner .my-links a:hover {
        text-decoration: underline; }
  .about-inner .link-split {
    margin: 0 40px; }
  .about-inner #my-logo {
    width: 70px;
    margin-top: 3%;
    margin-bottom: 1%; }
    .about-inner #my-logo img {
      width: 100%; }

#footer-container {
  position: fixed;
  z-index: 4000;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  height: 70px;
  margin-top: 3%;
  margin-bottom: 0; }
  #footer-container .three-foot {
    margin: 0 18px; }
    #footer-container .three-foot a {
      color: black;
      text-decoration: none; }
    #footer-container .three-foot .email-me {
      background-color: rgba(255, 255, 255, 0.2);
      padding: 10px 18px;
      transition: .4s all; }
      #footer-container .three-foot .email-me:hover {
        box-shadow: 2px -1.5px #030316;
        background-color: rgba(255, 255, 255, 0.8);
        transition: .4s all; }
    #footer-container .three-foot .linkedin-me {
      background-color: rgba(255, 255, 255, 0.2);
      padding: 10px 18px; }
      #footer-container .three-foot .linkedin-me:hover {
        box-shadow: -2px -1.5px #030316;
        background-color: rgba(255, 255, 255, 0.8);
        transition: .4s all; }
  #footer-container #small-logo {
    width: 70px; }
    #footer-container #small-logo img {
      width: 100%; }

#loader {
  z-index: 9999;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: white; }

.loader-animation {
  color: #000000;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease; }

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

#design-portfolio {
  width: 100%;
  height: 100%;
  padding: 0;
  display: none; }
  #design-portfolio .portfolio-content {
    background-color: transparent; }

#ui-portfolio {
  width: 100%;
  height: 100%;
  padding: 0;
  display: none;
  border-bottom: 14px solid white; }

#project-1-content {
  display: none;
  background: #ABA8B8;
  padding-bottom: 6%; }

.portfolio-content {
  background-color: black;
  color: #FFFFFF;
  width: 100%;
  padding-bottom: 4%; }

.header {
  padding-top: 4%;
  width: 48%;
  padding-bottom: 1%; }
  .header img {
    width: 100%;
    margin: auto; }

.stz-three-screens {
  width: 80%;
  margin-bottom: -7px; }
  .stz-three-screens img {
    width: 100%; }

.about-starz {
  width: 100%;
  padding-top: 4%;
  padding-bottom: 4%;
  color: white;
  background-color: black; }
  .about-starz .about-company {
    width: 76%;
    margin: auto;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    text-align: justify; }

.project-headline {
  width: 100%; }
  .project-headline .project-box {
    font-weight: 700;
    font-size: 30px;
    margin-left: 12%;
    width: 76%;
    padding: 1.6% 0; }

#starz-proj-1 {
  background-color: white;
  color: #0A0624; }
  #starz-proj-1:hover {
    background-color: yellow;
    color: #0A0624; }

#starz-proj-2 {
  background-color: white;
  color: #0A0624; }
  #starz-proj-2:hover {
    background-color: #FF3333;
    color: #0A0624; }

.project-list {
  width: 94%; }
  .project-list .list-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.2% 12%;
    width: 76%;
    font-size: 30px;
    font-weight: 600; }
    .project-list .list-item .plus-minus {
      display: inline-block;
      width: 32px;
      height: 32px;
      background-image: url("../images/icons/plus-blk.png");
      background-size: 70%;
      background-repeat: no-repeat;
      background-position: center;
      transition: 1s all; }

.expand-unexpand {
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 32px;
  height: 32px; }
  .expand-unexpand .plus-minus {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("../images/icons/plus.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s all; }

.rotate {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.project-details {
  border-top: 18px solid white; }

.project-team {
  width: 76%;
  border-bottom: 10px solid white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  background-color: white; }
  .project-team .twentyfive-perc {
    width: 25%;
    padding: 0 .5%; }
  .project-team .thirty-perc {
    position: relative;
    width: 33.32%;
    padding: 0 .5%; }
  .project-team .two-thirds {
    width: 66.65%;
    padding: 0 .5%; }
  .project-team .fifty-perc {
    width: 50%;
    padding: 0 .5%; }
  .project-team .title-of {
    font-weight: 800;
    letter-spacing: 2px;
    padding: 8px 0;
    color: black;
    background-color: yellow; }
  .project-team .sub-text-of {
    font-size: 18px;
    line-height: 30px;
    background-color: white;
    color: #0A0624;
    padding-top: 10px; }

.divider {
  width: 40%;
  margin-left: 30%;
  height: 4px;
  background-color: white;
  margin-top: 6%;
  margin-bottom: 6%; }

.project-cons {
  margin-left: 20%;
  padding: 6%;
  width: 50%;
  background-color: #0A0624; }
  .project-cons .big-type-cons {
    padding: 1%;
    font-size: 34px;
    font-weight: 600;
    color: #FAF800; }
  .project-cons .overview-copy-cons {
    padding: 0 4% 4% 1%;
    font-size: 20px;
    line-height: 30px;
    margin: 3%; }

.project-overview {
  width: 76%;
  margin-top: 6%;
  margin-left: 12%;
  margin-bottom: 3%; }
  .project-overview .big-type {
    width: 94%;
    padding: 3%;
    border-top: 8px double  #FAF800;
    border-bottom: 8px double  #FAF800;
    font-size: 32px;
    font-weight: 600;
    color: #0A0624; }
  .project-overview .overview-copy {
    width: 94%;
    padding: 3%;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #0A0624; }
  .project-overview .overview-copy-sub {
    width: 94%;
    padding: 3% 3% 0 3%;
    font-size: 20px;
    color: #0A0624;
    line-height: 30px; }
  .project-overview .bold-overview {
    font-weight: 600; }

.process-steps {
  color: white;
  width: 76%;
  margin-left: 12%;
  margin-top: 3%;
  border-bottom: 2px #FAF800 dotted;
  border-top: 3px #0A0624 solid; }
  .process-steps .step-copy {
    padding: 3%;
    width: 94%;
    font-weight: 400;
    font-size: 28px; }
    .process-steps .step-copy .number {
      font-size: 30px;
      font-weight: 600;
      color: #FAF800; }

.process-step-description {
  width: 76%;
  margin-left: 12%;
  font-size: 20px; }
  .process-step-description .step-info {
    padding: 3%;
    width: 94%;
    line-height: 30px; }

.image-caption {
  color: #E2E2E9; }

#project-2-content {
  display: none;
  background-color: #272727;
  padding-bottom: 6%; }
  #project-2-content .title-of {
    color: white;
    background-color: #FF3333; }
  #project-2-content .sub-text-of {
    color: #0C0000;
    background-color: white; }
  #project-2-content .divider {
    background-color: #FF3333; }
  #project-2-content .project-cons {
    background-color: #EEEEEE; }
    #project-2-content .project-cons .big-type-cons {
      color: #FF3333; }
    #project-2-content .project-cons .overview-copy-cons {
      color: #0C0000; }
  #project-2-content .project-overview .big-type {
    color: white;
    border-top: 8px double  #BCBCBC;
    border-bottom: 8px double  #BCBCBC; }
  #project-2-content .project-overview .overview-copy {
    color: #EEEEEE; }
  #project-2-content .project-overview .overview-copy-sub {
    color: #EEEEEE; }
  #project-2-content .project-overview .bold-overview {
    color: #EEEEEE; }
  #project-2-content .process-steps {
    color: #EEEEEE;
    border-bottom: 2px #FF3333 dotted;
    border-top: 3px #BCBCBC solid; }
    #project-2-content .process-steps .step-copy {
      color: #EEEEEE; }
      #project-2-content .process-steps .step-copy .number {
        color: #FF3333; }
  #project-2-content .process-step-description {
    color: #EEEEEE; }
  #project-2-content .image-caption {
    color: #BCBCBC; }

.single-starz-img-sml {
  width: 28%;
  margin-left: 36%; }
  .single-starz-img-sml img {
    width: 100%; }

.single-starz-img {
  width: 40%;
  margin-left: 30%; }
  .single-starz-img img {
    width: 100%; }

.single-starz-img-wide {
  width: 56%;
  margin-left: 22%; }
  .single-starz-img-wide img {
    width: 100%; }

.single-starz-img-full {
  width: 76%;
  margin-left: 12%; }
  .single-starz-img-full img {
    width: 100%; }

.two-panels {
  width: 76%;
  margin-left: 12%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .two-panels .two-panel-card {
    width: 50%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 8%; }
    .two-panels .two-panel-card .double-starz-img img {
      width: 100%; }

.two-panels-large {
  width: 76%;
  margin-left: 12%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .two-panels-large .two-panel-card {
    width: 98%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 1%; }
    .two-panels-large .two-panel-card .double-starz-img img {
      width: 100%; }
    .two-panels-large .two-panel-card .image-caption {
      color: #8C8A95; }

.three-panel {
  margin-left: 16%;
  width: 68%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: top;
      -ms-flex-align: top;
          align-items: top; }
  .three-panel .three-panels {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30%;
    color: #8C8A95; }
  .three-panel .three-starz-img img {
    width: 100%; }

.image-gap {
  margin-bottom: 3%; }

.four-panel {
  margin-left: 16%;
  width: 68%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: top;
      -ms-flex-align: top;
          align-items: top; }
  .four-panel .four-panels {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 23%;
    color: #8C8A95; }
  .four-panel .four-starz-img img {
    width: 100%; }

.video-proj {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: -10px 0;
  overflow: hidden; }
  .video-proj video {
    width: 100%;
    margin: -2.3% 0; }

#super-1-title .list-item {
  background-color: black; }
  #super-1-title .list-item:hover {
    background-color: #ff00ff; }

#super-1-title .p-title {
  color: white; }

#super-1-title .plus-minus {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("../images/icons/plus.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s all; }

#supernova-container {
  background-color: white; }
  #supernova-container .header {
    padding-top: 4%;
    width: 80%;
    padding-bottom: 2%; }
    #supernova-container .header img {
      width: 100%;
      margin: auto; }
  #supernova-container .stz-three-screens {
    width: 45%;
    margin-bottom: -6px; }
    #supernova-container .stz-three-screens img {
      width: 100%; }
  #supernova-container .about-starz {
    color: black;
    background-color: white; }
    #supernova-container .about-starz .about-company {
      width: 76%;
      margin: auto;
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      text-align: justify; }

#super-1-content {
  display: none;
  background-color: #bcbcbc;
  padding-bottom: 6%; }
  #super-1-content .title-of {
    color: white;
    background-color: #ff00ff; }
  #super-1-content .sub-text-of {
    color: #0C0000;
    background-color: white; }
  #super-1-content .divider {
    background-color: white; }
  #super-1-content .project-cons {
    background-color: black; }
    #super-1-content .project-cons .big-type-cons {
      color: #ff00ff; }
    #super-1-content .project-cons .overview-copy-cons {
      color: white; }
  #super-1-content .project-overview .big-type {
    color: black;
    border-top: 8px double  #ff00ff;
    border-bottom: 8px double  #ff00ff; }
  #super-1-content .project-overview .overview-copy {
    color: black; }
  #super-1-content .project-overview .overview-copy-sub {
    color: white; }
  #super-1-content .project-overview .bold-overview {
    color: white; }
  #super-1-content .process-steps {
    color: white;
    border-bottom: 2px #ff00ff dotted;
    border-top: 3px black solid; }
    #super-1-content .process-steps .step-copy {
      color: white; }
      #super-1-content .process-steps .step-copy .number {
        color: #ff00ff; }
  #super-1-content .process-step-description {
    color: white; }
    #super-1-content .process-step-description .step-info .step-preface {
      color: black;
      font-weight: 600; }
  #super-1-content .image-caption {
    color: yellow; }

#main-content {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  /* Need a specific value to work */
  width: 100%;
  height: auto; }
  #main-content .portfolio-header {
    height: 100vh;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #030316; }
  #main-content .portfolio-content {
    height: auto;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  #main-content .one-up {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    width: 46%;
    margin-top: 4%;
    margin-bottom: 2%; }
  #main-content .image-holder {
    width: 100%;
    height: auto; }
    #main-content .image-holder img {
      width: 100%;
      height: auto; }
  #main-content .two-up {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%; }
    #main-content .two-up .two-pane-right {
      width: 44%;
      margin-top: 2%;
      margin-bottom: 2%; }
      #main-content .two-up .two-pane-right img {
        width: 100%;
        height: auto; }
  #main-content .type-container {
    width: 60%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

/*# sourceMappingURL=../maps/main.css.map */
