#about-container {
	display: none;

}
#about-bg {
	position: fixed;
	z-index: -1;
	top: 0;
	right: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url("../images/about-bg-center.png");
	background-color: #daf0e6;
	background-size: 1440px;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	margin: auto;
	// height: auto;
}
.about-inner {
	z-index: 1;
	width: 90%;
	padding: 70px 0 40px 0;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	#profile-container {
		width: 250px;
		height: 250px;
		#profile-pic {
			width: 100%;
			height: 100%;
			background-image: url("../images/profile/a.png");
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}
	#about-headline {
		font-size: 36px;
		margin-bottom: 3%;
		width: 60%;
		letter-spacing: 2px;;
		line-height: 45px;
		font-weight: 700;
	}
	.about-title {
		font-size: 24px;
		line-height: 36px;;
		border: 2px solid #000;
		padding: 0 10px;
		margin-bottom: 1%;
	}
	.about-items {
		font-size: 20px;
		margin-bottom: 3%;
		width: 60%;
		line-height: 36px;;
	}
	.connect {
		font-size: 20px;
		margin-bottom: 3%;
	}
	.my-links  {
		font-size: 20px;
		a {
			color: $color-darkest;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.link-split {
		margin: 0 40px;;
	}
	#my-logo {
		width: 70px;;
		margin-top: 3%;
		margin-bottom: 1%;
		img {
			width: 100%;
		}
	}
}
