#about-container {
	display: none;
	overflow: hidden;
}
#about-bg {
	position: fixed;
	z-index: -1;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-width: 1440px;
	background-image: url("../images/about-bg-center.png");
	background-color: #daf0e6;
	background-size: cover;
	background-position: center;
	// background-attachment: fixed;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	margin: 0 auto;

	// height: auto;
}
.about-inner {
	z-index: 1;
	width: 90%;
	padding: 70px 0 40px 0;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	#profile-container {
		width: 250px;
		height: 250px;
		@media screen and (max-width: $medium-break) {
			width: 200px;
			height: 200px;
	    }
	    @media screen and (max-width: $small-break) {
			width: 180px;
			height: 180px;
	    }
		
		#profile-pic {
			width: 100%;
			height: 100%;
			background-image: url("../images/profile/a.png");
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}
	#about-headline {
		font-size: 36px;
		margin-bottom: 3%;
		width: 60%;
		letter-spacing: 2px;;
		line-height: 45px;
		font-weight: 700;
		@media screen and (max-width: $medium-break) {
			font-size: 32px;
			line-height: 40px;
	        width: 80%;
	    }
	    @media screen and (max-width: $small-break) {
	        width: 85%;
			font-size: 28px;
			line-height: 38px;
	    }
		@media screen and (max-width: $ex-small-break) {
	        width: 90%;
			font-size: 20px;
			line-height: 26px;

	    }
	}
	.about-title {
		font-size: 24px;
		line-height: 36px;;
		border: 2px solid #000;
		padding: 0 10px;
		margin-bottom: 1%;
		@media screen and (max-width: $medium-break) {
	        // width: 80%;
	    }
	    @media screen and (max-width: $small-break) {
	        // width: 85%;
			font-size: 20px;
			line-height: 38px;
	    }
		// @media screen and (max-width: $ex-small-break) {
	    //     width: 90%;
		// 	font-size: 24px;
		// 	line-height: 30px;
	    // }
	}
	.about-items {
		font-size: 20px;
		margin-bottom: 3%;
		width: 60%;
		line-height: 36px;;
		@media screen and (max-width: $small-break) {
		   width: 90%;
		   font-size: 16px;
		   line-height: 30px;
	   }
	}
	.connect {
		font-size: 20px;
		margin-bottom: 3%;
		@media screen and (max-width: $small-break) {
		   // width: 85%;
		   font-size: 16px;
		   // line-height: 30px;
	   }
	}
	.my-links  {
		font-size: 20px;
		@media screen and (max-width: $small-break) {
		   // width: 85%;
		   font-size: 16px;
		   // line-height: 30px;
	   }
		a {
			color: $color-darkest;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.link-split {
		margin: 0 40px;;
	}
	#my-logo {
		width: 70px;;
		margin-top: 3%;
		margin-bottom: 1%;
		img {
			width: 100%;
		}
	}
}
