#footer-container {
	position: fixed;
	z-index: 4000;
	bottom: 8%;
	left: 0;
	right: 0;
	#small-logo {
		display: none;
		margin: 0 auto;
		width: 22px;
		animation: bounce 1s infinite alternate;
		-webkit-animation: bounce 1s infinite alternate;
		img {
			width: 100%;
		}
	}
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-12px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-12px);
  }
}
