#footer-container {
	position: fixed;
	z-index: 4000;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1440px;
	height: 70px;
	margin-top: 3%;
	margin-bottom: 0;
	.three-foot {
		margin: 0 18px;
		// width: 40px;
		// height: 40px;
		a {
			color: black;
			text-decoration: none;
		}
		.email-me {
			background-color: rgba(255, 255, 255, .2);
			// margin-left: 18px;
			padding: 10px 18px ;
	        transition: .4s all;
			&:hover{
	    		box-shadow: 2px -1.5px   $color-darker;
	            background-color: rgba(255, 255, 255, .8);
	            transition: .4s all;
	    	}
			// width: 40px;
			// height: 40px;
			// background: url("../images/mail.png") no-repeat center;
			// background-size: 100%;
		}
		.linkedin-me {
			background-color: rgba(255, 255, 255, .2);
			// margin-left: 18px;
			padding: 10px 18px ;
			&:hover{
	    		box-shadow: -2px -1.5px   $color-darker;
	            background-color: rgba(255, 255, 255, .8);
	            transition: .4s all;
	    	}
			// width: 40px;
			// height: 40px;
			// background: url("../images/linkedin.png") no-repeat center;
			// background-size: 100%;
		}
	}
	#small-logo {
		width: 70px;;
		img {
			width: 100%;
		}
	}
}
