#nav-container {
    position:fixed;
    z-index: 5000;
	top: 0;
	right: 0;
	left: 0;
	display: block;
	width: 100%;
	max-width: 1440px;
	height: $nav-height;
	margin: auto;
    pointer-events:none;
}
#nav-logo {
    position: absolute;
    font-family: 'Monique', monospace;
    letter-spacing: 6px;;
    color: $color-darker;
    width: 100%;
    height: $nav-height;
	font-size: 29px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
	#logo {
        margin-top: 10px;;
        width: 60px;
        height: 60px;;
        img {
            width: 100%;;
        }
		// margin-left: 7px;
	}
}
#nav-buttons {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 2.2px;
    position: absolute;
    width: 100%;
    color: $color-darker;

    @media screen and (max-width: $small-break) {
        font-size: 16px;
    }
}
#nav-buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: $nav-height;
	#left-button {
        background-color: rgba(255, 255, 255, .2);
		margin-left: 18px;
		padding: 10px 18px ;
        transition: .4s all;
    	&:hover{
    		box-shadow: 2px 1.5px   $color-darker;
            background-color: rgba(255, 255, 255, .8);
            transition: .4s all;
    	}
	}
	#right-button {
        background-color: rgba(255, 255, 255, .2);
		margin-right: 18px;
		padding: 10px 18px ;
        transition: .4s all;
		&:hover{
			box-shadow: -2px 1.5px  $color-darker;
            background-color: rgba(255, 255, 255, .8);
            transition: .4s all;
		}
	}
	.main-buttons {
		padding:  8px;
        pointer-events:auto;
	}
}
// WORK Catergories
#hide-menu {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px; /* Need a specific value to work */
    width: 100%;
    height: auto;
    overflow: hidden;
}
#menu-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	.menu-options {
		height: 100vh;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		.skill-title {
			font-size: 200px;
			font-weight: 700;
            @media screen and (max-width: $small-break) {
                font-size: 160px;
            }
            @media screen and (max-width: 600px) {
                font-size: 100px;
            }
            @media screen and (max-width: 460px) {
                font-size: 60px;
            }
			#gd-outline {
				padding: 20px;
			}
			#ui-outline {
				padding: 20px 60px;
                @media screen and (max-width: $small-break) {
                    padding: 20px 40px;
                }
                @media screen and (max-width: 600px) {
                    padding: 20px 30px;
                }
			}
		}
	}
}
.descript {
    color: black;
    font-size: 28px;
    font-weight: 700;
    margin-top: -40px;
    text-align: center;
    @media screen and (max-width: $small-break) {
        font-size: 24px;
    }
    @media screen and (max-width: 600px) {
        font-size: 20px;
    }
    @media screen and (max-width: 460px) {
        font-size: 16px;
    }
}
#gd-menu{
	width: 50%;
	background-image: url("../images/about-bg.png");
    background-size: 1440px;
    background-position: right;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
	color: $color-r;
	span {
		border: 8px $color-r double;
	}
	&:hover {
		span {
			border: 8px $color-lightest double;
		}
		background-image: url("../images/about-bg.png");
		background-color:  $color-r;
		color: $color-lightest;
		background-size: 1440px;
		background-position: right;
		background-repeat: no-repeat;
		background-blend-mode: multiply;
	}
}
#ui-menu{
	width: 50%;
	color: $color-y;
	background-image: url("../images/about-bg-reverse.png");
	background-color:  $color-lightest;
	background-size: 1440px;
	background-position: left;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	span {
		border: 8px $color-y double;
	}
	&:hover {
		span {
			border: 8px $color-lightest double;
		}
		background-image: url("../images/about-bg-reverse.png");
		background-color:  $color-y;
		background-size: 1440px;
		background-position: left;
		background-repeat: no-repeat;
		background-blend-mode: multiply;
		color: $color-lightest;
	}
}
