#nav-container {
    position:fixed;
    z-index: 5000;
	top: 0;
	right: 0;
	left: 0;
	display: block;
	width: 100%;
	max-width: 1440px;
	height: $nav-height;
	margin: auto;
}
#nav-logo {
    position: absolute;
    font-family: 'Monique', monospace;
    letter-spacing: 6px;;
    color: $color-darker;
    width: 100%;
    height: $nav-height;
	font-size: 29px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
	#logo {
		margin-left: 7px;
	}
}
#nav-buttons {
	@include font-size(18px)
	font-weight: 400;
	letter-spacing: 2.2px;
    position: absolute;
    width: 100%;
    color: $color-darker;
}
#nav-buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: $nav-height;
	#left-button {
		margin-left: 18px;
		padding-left: 18px;
    	&:hover{
    		box-shadow: 2px 1.5px   $color-darker;
    	}
	}
	#right-button {
		margin-right: 18px;
		padding-right: 18px;
		&:hover{
			box-shadow: -2px 1.5px  $color-darker;
		}
	}
	.main-buttons {
		padding:  8px;
	}
}
// WORK Catergories

#menu-container {
	position: fixed;
  	left: 0;
  	right: 0;
  	margin-left: auto;
  	margin-right: auto;
  	max-width: 1440px; /* Need a specific value to work */
	width: 100%;
	height: auto;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	.menu-options {
		height: 100vh;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		.skill-title {
			font-size: 200px;
			font-weight: 700;
			#gd-outline {
				padding: 20px;
			}
			#ui-outline {
				padding: 20px 63px;
			}
		}
	}
}
#gd-menu{
	width: 50%;
	background-image: url("../images/about-bg.png");
	color: $color-r;
	background-size: 1440px;
	background-position: right;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	span {
		border: 8px $color-r double;
	}
	&:hover {
		span {
			border: 8px $color-lightest double;
		}
		background-image: url("../images/about-bg.png");
		background-color:  $color-r;
		color: $color-lightest;
		background-size: 1440px;
		background-position: right;
		background-repeat: no-repeat;
		background-blend-mode: multiply;
	}
}
#ui-menu{
	width: 50%;
	color: $color-y;
	background-image: url("../images/about-bg-reverse.png");
	background-color:  $color-lightest;
	background-size: 1440px;
	background-position: left;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	span {
		border: 8px $color-y double;
	}
	&:hover {
		span {
			border: 8px $color-lightest double;
		}
		background-image: url("../images/about-bg-reverse.png");
		background-color:  $color-y;
		background-size: 1440px;
		background-position: left;
		background-repeat: no-repeat;
		background-blend-mode: multiply;
		color: $color-lightest;
	}
}
