#splash-container {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    background-image: url("../images/about-bg-center.png");
	background-color: $color-b;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
    overflow: hidden;

    // background-color: black;
}
.fast-about-me {
    overflow: hidden;
    position: fixed;
    // margin-top: 40px;;
    text-align: left;
    // margin-left: 10%;
    // visibility: hidden;
    max-width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .fast-inner {
        // display: none;

        width: 90%;
        // margin-left: 10%;;
        // margin-right: 10%;;
        // height: 100%;;
        font-size: 60px;
        font-weight: 800;
        display: none;
        @media screen and (max-width: $medium-break) {
            font-size: 50px;
        }
        @media screen and (max-width: $small-break) {
            font-size: 32px;
        }
        @media screen and (max-width: $ex-small-break) {
            font-size: 28px;
        }
        .me {
        }
        .what {
            // display: none;
        }
    }

}
.welcome-message {
    overflow: hidden;
    position: fixed;
    // visibility: hidden;
// margin: auto;
    width: 100%;;;
    text-align: left;
    // margin: 10%;
    max-width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: .5s;
    .welcome-inner {
        display: none;
        width: 90%;
        height: auto;;
        font-size:200px;
        font-weight: 800;
        color: white;
        // margin-top: -300px;;
         @media screen and (max-width: $medium-break) {
             font-size: 150px;
         }
         @media screen and (max-width: $small-break) {
             font-size: 104px;
             // margin-top: -180px;;
         }
         @media screen and (max-width: $ex-small-break) {
             font-size: 90px;
             // margin-top: -200px;;
         }
    }
}
