@import 'mixins';
@import 'variables';
@import 'navigation';
@import 'splash';
@import 'about';
@import 'work/work';
#background {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	display: block;
	width: 100%;
	max-width: 1440px;
	height: 100vh;
	margin: auto;
	@extend %clearfix;
	#base-bg {
		background-image: url("../images/about-bg-center.png");
		background-color: #daf0e6;
		background-size: 1440px;
		background-position: center;
		background-repeat: no-repeat;
		background-blend-mode: multiply;
		margin: auto;
		height: 100%;
	}
}
#menu-container {
	position: fixed;
  	left: 0;
  	right: 0;
  	margin-left: auto;
  	margin-right: auto;
  	max-width: 1440px; /* Need a specific value to work */
	width: 100%;
	height: auto;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	.menu-options {
		height: 100vh;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		.skill-title {
			font-size: 200px;
			font-weight: 700;
			#gd-outline {
				padding: 20px;
			}
			#ui-outline {
				padding: 20px 63px;
			}
		}
	}
}
#gd-menu{
	width: 50%;
	background-image: url("../images/about-bg.png");
	color: $color-r;
	background-size: 1440px;
	background-position: right;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	span {
		border: 8px $color-r double;
	}
	&:hover {
		span {
			border: 8px $color-lightest double;
		}
		background-image: url("../images/about-bg.png");
		background-color:  $color-r;
		color: $color-lightest;
		background-size: 1440px;
		background-position: right;
		background-repeat: no-repeat;
		background-blend-mode: multiply;
	}
}
#ui-menu{
	width: 50%;
	color: $color-y;
	background-image: url("../images/about-bg-reverse.png");
	background-color:  $color-lightest;
	background-size: 1440px;
	background-position: left;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	span {
		border: 8px $color-y double;
	}
	&:hover {
		span {
			border: 8px $color-lightest double;
		}
		background-image: url("../images/about-bg-reverse.png");
		background-color:  $color-y;
		background-size: 1440px;
		background-position: left;
		background-repeat: no-repeat;
		background-blend-mode: multiply;
		color: $color-lightest;
	}
}
#main-content {
	position: absolute;
  	left: 0;
  	right: 0;
  	margin-left: auto;
  	margin-right: auto;
  	max-width: 1440px; /* Need a specific value to work */
	width: 100%;
	height: auto;
}
#design-portfolio {
	width: 100%;
	height: 100%;
	padding: 0;
	display: none;
}
#ui-portfolio {
	width: 100%;
	height: 100%;
	padding: 0;
	display: none;
}
.portfolio-header {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $color-darker;
}
.portfolio-content {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#starz-container {
	background-color: $color-darkest;
	color: $color-lightest;
	width: 100%;
	.header {
		padding-top: 4%;
		width: 36%;
		padding-bottom: 2%;
		img {
			width: 100%;
			margin:auto;
		}
	}
	.stz-three-screens {
		width: 60%;
		img {
			margin-left: 40%;
			width: 100%;
			margin:auto;
		}
	}
	.about-starz {
		width: 100%;
		padding-top: 4%;
		padding-bottom: 4%;
		color: $color-darkest;
		background-color: $color-lightest;
	}
}
.about-company {
	width: 60%;
	margin: auto;
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
	text-align: justify;
}
.one-up {
	display: flex;
	justify-content: space-around;
	width: 46%;
}
.image-holder {
	width: 100%;
	height: auto;
	img {
		width: 100%;
		height: auto;
	}
}
#footer-container {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1440px;
	height: 70px;
	margin-top: 3%;
	margin-bottom: 1%;
	.three-foot {
		margin: 0 2.5%;
		width: 40px;
		height: 40px;
		.email-me {
			width: 40px;
			height: 40px;
			background: url("../images/mail.png") no-repeat center;
			background-size: 100%;
		}
		.linkedin-me {
			width: 40px;
			height: 40px;
			background: url("../images/linkedin.png") no-repeat center;
			background-size: 100%;
		}
	}
	#small-logo {
		width: 70px;;
		img {
			width: 100%;
		}
	}
}
#about-container {
	display: none;
}
.about-inner {
	width: 90%;
	margin-top: 45px;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	#profile-container {
		width: 250px;
		height: 250px;
		#profile-pic {
			width: 100%;
			height: 100%;
			background-image: url("../images/profile/a.png");
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}
	#about-headline {
		font-size: 36px;
		margin-bottom: 3%;
		width: 60%;
		letter-spacing: 2px;;
		line-height: 45px;
		font-weight: 700;
	}
	.about-title {
		font-size: 24px;
		line-height: 36px;;
		border: 2px solid #000;
		padding: 0 10px;
		margin-bottom: 1%;
	}
	.about-items {
		font-size: 20px;
		margin-bottom: 3%;
		width: 60%;
		line-height: 36px;;
	}
	.connect {
		font-size: 20px;
		margin-bottom: 3%;
	}
	.my-links  {
		font-size: 20px;
		a {
			color: $color-darkest;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.link-split {
		margin: 0 40px;;
	}
	#my-logo {
		width: 70px;;
		margin-top: 3%;
		margin-bottom: 1%;
		img {
			width: 100%;
		}
	}
}
.two-up {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	width: 60%;
	.two-pane-right {
		width: 50%;
		height: 50%;
		img {
			width: 100%;
			height: auto;
		}
	}
}
.type-container {
 width: 60%;
 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-direction: column;
}
