<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DM Portfolio</title>
    <meta name="description" content="Professional works created and developed by Dominic Muttel">
    <meta name="author" content="Dominic Muttel">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- for Facebook -->
    <meta property="og:title" content="Dominic Muttel Portfolio" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://domuconcept.com/images/social-logo.png" />
    <meta property="og:url" content="http://domuconcept.com/" />
    <meta property="og:description" content="UX/UI Design / Front End Web Development / Graphic Design - Creative Solutions" />

    <!-- for Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Dominic Muttel Portfolio" />
    <meta name="twitter:description" content="UX/UI Design / Front End Web Development / Graphic Design - Creative Solutions" />
    <meta name="twitter:image" content="http://domuconcept.com/images/social-logo.png" />
    <!-- <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:200,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32">

</head>
<body>
    <div id="background">
        <div id="base-bg"></div>
    </div>
    <div id="nav-container">
        <div id="nav-logo">
            <div id="logo">
                DOMINIC MUTTEL
            </div>
        </div>
        <div id="nav-buttons">
            <div id="nav-buttons-container">
                <div class="main-buttons" id="left-button">
                    ABOUT
                </div>
                <div class="main-buttons" id="right-button">
                    WORK
                </div>
            </div>
        </div>
    </div>
    <div id="menu-container">
        <div class="menu-options" id="gd-menu">
            <div class="skill-title">
                <span id="gd-outline">GD</span>
            </div>
        </div>

        <div class="menu-options" id="ui-menu">
            <div class="skill-title">
                <span id="ui-outline">UI</span>
            </div>
        </div>
    </div>
    <div id="splash-container">

    </div>
    <div id="main-content">
        <div id="design-portfolio">
            <div class="portfolio-header">
                <h1>Graphic Design</h1>
                <p>A collection of graphics and other design projects</p>
            </div>
            <div class="portfolio-content">
                <h1>Logo Treatments</h1>
                <h2>Honey Fox</h2>
                <div class="one-up">
                    <div class="image-holder">
                        <img src="images/gd_projects/honey-fox.png" alt="">
                    </div>
                </div>
                <div class="two-up">
                    <div class="two-pane-right">
                        <img src="images/gd_projects/honey-fox-fourup.png" alt="">
                    </div>
                    <div class="two-pane-right">
                        <img src="images/gd_projects/honey-fox-label.png" alt="">
                    </div>
                </div>
                <h2>Colorado Structural Repair</h2>
                <div class="one-up">
                    <div class="image-holder">
                        <img src="images/gd_projects/csr-main-logo.png" alt="">
                    </div>
                </div>
                <div class="two-up">
                    <div class="two-pane-right">
                        <img src="images/gd_projects/csr-truck-1.png" alt="">
                    </div>
                    <div class="two-pane-right">
                        <img src="images/gd_projects/csr-identity.png" alt="">
                    </div>
                </div>
                <h2>Recuperatio 12</h2>
                <div class="one-up">
                    <div class="image-holder">
                        <img src="images/gd_projects/r12-logo-main.png" alt="">
                    </div>
                </div>
                <div class="two-up">
                    <div class="two-pane-right">
                        <img src="images/gd_projects/r12-goods.png" alt="">
                    </div>
                    <div class="two-pane-right">
                        <img src="images/gd_projects/r12-book.png" alt="">
                    </div>
                </div>
                <h2>DOMU Concept</h2>
                <div class="one-up">
                    <div class="image-holder">
                        <img src="images/gd_projects/domu-logo.png" alt="">
                    </div>
                </div>
                <div class="two-up">
                    <div class="two-pane-right">
                        <img src="images/gd_projects/domu-print-media.png" alt="">
                    </div>
                    <div class="two-pane-right">
                        <img src="images/gd_projects/domu-falling.png" alt="">
                    </div>
                </div>
                <h1>Community Engagement</h1>
                <div class="type-container">
                    <h2>This Makes Me Happy</h2>
                    <p>Is a cross-cultural study of what happiness means to us. We focused on the G.D.H. (Gross Domestic Happiness) of specific countries and examined what factors contributed to individual happiness.</p>
                    <p>Our research on the G.D.H. of specific countries led us to hypothesize that happiness is incredibly subjective. Because of this subjectivity we chose to give out stickers that people could place on the anything that makes them happy. The intention of this was to give individuals a tool that made them think about what makes them happy. </p>

                </div>
                <div class="one-up">
                    <div class="image-holder">
                        <img src="images/happy/0.jpg" alt="">
                    </div>
                </div>
                <div class="type-container">

                    <p>The results of what made them happy were then photographed and sent back to us. </p>
                </div>
                <div class="two-up">
                    <div class="two-pane-right">
                        <img src="images/happy/tmmh-3up.png" alt="">
                    </div>
                    <div class="two-pane-right">
                        <img src="images/happy/tmmh-6up.png" alt="">
                    </div>
                </div>
                <div class="one-up">
                    <div class="image-holder">
                        <img src="images/happy/tmmh.gif" alt="">
                    </div>
                </div>
                <div class="type-container">

                    <h2>POP Quiz</h2>
                    <p>Pop Quiz was created through Imaging Cities: New Media and Urban Action, a group of American Students studying urban spaces. Our goal was to temporarily activate a transitional area in Copenhagen, DK called Kay Fisker Plads. On average spent less than 15-30 seconds passing through. To slow the pedestrians down we implemented stacks of neon yellow pallets placed strategically around the plaza to gain attention and to give them a place to sit. We then gathered information in the form of a questionnaire from individuals that passed through to find a more permanent solution on how to activate the space.</p>
                </div>
                <div class="one-up">
                    <div class="image-holder">
                        <img src="images/pop/pop-quiz-render.png" alt="">
                    </div>
                </div>
                <div class="type-container">

                    <p>Research maps of Kay Fisker Plads showing pedestrian paths, transit paths, activity concentrations, and where we strategically placed our painted pallets. </p>
                </div>
                <div class="two-up">
                    <div class="two-pane-right">
                        <img src="images/pop/people_pallets.png" alt="">
                    </div>
                    <div class="two-pane-right">
                        <img src="images/pop/pop-quiz-render.png" alt="">
                    </div>
                </div>
                <div class="type-container">

                    <p>We used this questionnaire to begin a dialogue about Kay Fisker Plads with the hope of using the information collected to improve the space.
                        Results:
                        Q1. Would you dance here? 63% YES
                        Q2. If there was a bar, would you drink here? 69% YES
                        Q3. Would you like to see more color here? 100% YES </p>
                    </div>
                    <div class="one-up">
                        <div class="image-holder">
                            <img src="images/happy/tmmh.gif" alt="">
                        </div>
                    </div>
                </div>
        </div>
        <div id="ui-portfolio">

            <div class="portfolio-header">
                <h1>User Interface Design</h1>
                <p>Case Studies</p>
            </div>

            <div id="starz-container" class="portfolio-content">
                <div class="header">
                    <img src="../images/starz/starz-pantaya.png" alt="Starz and Pantaya Logos">
                </div>
                <div class="stz-three-screens">
                    <img src="../images/starz/starz-3.png" alt="Header Screens">
                </div>
                <div class="about-starz">
                    <div class="about-company">
                        Starz is an American premium cable and satellite television network that provides video streaming services through a mobile application, 10-foot device applications (Roku, Amazon Fire, etc.) &amp; a web application to over 100 million users. They service two video streaming applications Starz their English speaking app &amp; Pantaya their Spanish based app. At Starz, I worked on the web platforms team for both Starz and Pantaya applications assisting with internal projects and also as a lead UI designer on several small-scale projects.
                    </div>
                </div>
                <div class="project-headline">
                    <div class="project-box">
                        PROJECTS
                    </div>
                </div>
                <div id="project-1-title" class="project-list">
                    <div class="list-item">
                        <div class="expand-unexpand">
                            <div class="plus-minus"></div>
                        </div>
                        <div class="p-title">File and File System Redesign</div>
                    </div>
                    <div id="project-1-content" class="file-sys-container">
                        <div class="project-details">

                            <div class="project-team">
                                <div class="">
                                    <div class="title-of">
                                        Role:
                                    </div>
                                    <div class="sub-text-of">
                                        UI Designer
                                    </div>
                                </div>
                                <div class="">
                                    <div class="title-of">
                                        Type:
                                    </div>
                                    <div class="sub-text-of">
                                        Responsive Web
                                    </div>
                                </div>
                                <div class="">
                                </div>
                                <div class="title-of">
                                    Technology:
                                </div>
                                <div class="sub-text-of">
                                    Sketch, Sketch Plugins, Zeplin & Plant
                                </div>

                                <div class="">
                                </div>
                            </div>
                            <div class="project-team">
                                <div class="title-of">
                                    Apps:
                                </div>
                                <div class="sub-text-of">
                                    Starz &amp; Pantaya
                                </div>
                                <div class="title-of">
                                    Team:
                                </div>
                                <div class="sub-text-of">
                                    Karie Yoshioka, Kevin Holland, Laurie Wiebener &amp; Ryan McCarthy
                                </div>
                            </div>
                        </div>
                        <div class="divider">

                        </div>
                        <div class="project-cons">
                            <div class="big-type-cons">
                                Problem
                            </div>
                            <div class="overview-copy-cons">
                                The disarray of the UI files was making it increasingly difficult to keep up with file maintenance &amp; updates. Finding the source of truth was time staking, and upon discovery, it generally demanded updates before you could begin work.
                            </div>

                        </div>
                        <div style="">

                        </div>
                        <div class="project-cons">
                            <div class="big-type-cons">
                                Solution
                            </div>
                            <div class="overview-copy-cons">
                                Create a single master file to be used as the source of truth and to make updates rapidly.
                            </div>
                        </div>
                        <div class="divider">

                        </div>
                        <div class="project-overview">
                            <div class="big-type">
                                Process
                            </div>
                            <div class="overview-copy">
                                Integrate 40+ files into one master file, adapt to new naming conventions and file structure, develop new symbols and symbol master file, create new feature workflow for designers
                            </div>
                        </div>
                        <div class="process-steps">
                            <div class="step-copy">
                                File Integration
                            </div>
                        </div>
                        <div class="process-step-description">
                            <div class="">

                                <!-- In this process my responsibilites were to symbolize global components, add missing breakpoints, make sure screens are most up to date, repair screens / symbols, create symbol naming convention, maintain pixel perfection, standardize components, design the file structure, and typography / styles. -->
                                <!-- During this process Sketch released symbol libraries so we quickly adopted this technology. I created a symbols master library and separated the master file which aided in having up-to-date components. -->
                            </div>
                            <div class="image-holder">
                                <img src="images/starz/Dominic Portfolio Icons-07.png" alt="">
                            </div>
                            <div class="image-holder">
                                <img src="images/starz/Dominic Portfolio Icons-09.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="project-2-title" class="project-list">
                    <div class="list-item">
                        <div class="expand-unexpand">
                            <div class="plus-minus"></div>
                        </div>
                        <div class="p-title">VerizonUp Promo</div>
                    </div>
                </div>
                <div id="project-3-title" class="project-list">
                    <div class="list-item">
                        <div class="expand-unexpand">
                            <div class="plus-minus"></div>
                        </div>
                        <div class="p-title">Pantaya: Account Settings</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="about-container">
        <div class="about-inner">
            <div id="profile-container">
                <div id="profile-pic"></div>
            </div>
            <div id="about-headline">UI Designer and half-stack dev with experience in visual art, branding, and graphic design. My interests rest in finding creative solutions that activate the user experience through beautiful interfaces.</div>

            <div class="about-title">TECH</div>
            <div class="about-items">HTML/CSS/JS, JS Frameworks, Adobe CS, Sketch, Zeplin, Invision, Confluence/Jira, Trello</div>
            <div class="about-title">SKILLS</div>
            <div class="about-items">Print/Digital, Web/Mobile, Grid/Layout, Typography, Color Theory, Wire-framing, Prototyping, UX/UI, Branding, Identity, Creative Solutions</div>
            <div class="connect"> <i>connect</i> </div>
            <div>
                <span class="my-links">
                    <a href="mailto:domuttel@gmail.com">Email Me</a>
                </span>
                <span class="link-split"> or </span>
                <span class="my-links">
                    <a href="https://www.linkedin.com/in/domuttel" target="_blank">Linkedin</a>
                </span>
            </div>
            <div id="my-logo">
                <img src="../images/domu-small.png" alt="Domu Logo">
            </div>
        </div>
    </div>
    <div id="footer-container">
        <div class="three-foot">
            <div class="email-me">
            </div>
        </div>
        <div>
            <div id="small-logo">
                <img src="../images/domu-small.png" alt="Domu Logo">
            </div>
        </div>
        <div class="three-foot">
            <div class="linkedin-me">
            </div>
        </div>
    </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="prod/app.js"></script>
        <!-- <script type="text/javascript" src="js/app.min.js"></script> -->
    </body>
    </html>
