#ui-portfolio {
	width: 100%;
	height: 100%;
	padding: 0;
	display: none;
	border-bottom: 14px solid white;
}
#project-1-content {
	display: none;
	background: #ABA8B8;
	// background: #D4D2DD;
	// #AAA9B7;
	padding-bottom: 6%;
}
// #project-2-title {
// 	.list-item {
// 		background-color: #FF3333;
// 	}
// 	.p-title {
// 		color: white;
// 	}
// }
.portfolio-content {
	background-color: rgba(0,0,0,1);
	color: $color-lightest;
	width: 100%;
	padding-bottom: 4%;
	// margin-bottom:80px;
}

.header {
	padding-top: 4%;
	width: 48%;
	padding-bottom: 1%;
	img {
		width: 100%;
		margin:auto;
	}
}
.stz-three-screens {
	width: 80%;
	margin-bottom: -7px;;
	img {
		width: 100%;
	}
}
.about-starz {
	width: 100%;
	padding-top: 4%;
	padding-bottom: 4%;
	color: white;
	background-color: black;
	.about-company {
		width: 76%;
		margin: auto;
		font-size: 20px;
		line-height: 30px;
		font-weight: 700;
		text-align: justify;
		@media screen and (max-width: $medium-break) {
			font-size: 18px;
			line-height: 28px;
		}
		@media screen and (max-width: $small-break) {
			font-size: 16px;
			line-height: 26px;
		}
	}
}
// .project-headline {
// 	width: 100%;
// 	.project-box {
// 		font-weight: 700;
// 		font-size: 30px;
// 		margin-left: 12%;
// 		width: 76%;
// 		padding: 1.6% 0;
// 		@media screen and (max-width: $medium-break) {
// 			font-size: 24px;
// 		}
// 		// @media screen and (max-width: $small-break) {
// 		//
// 		// }
// 	}
// }
#starz-proj-1 {
	background-color: yellow;
	color: #0A0624;

	&:hover {
		background-color: white;
		color: #0A0624;
	}
}
#starz-proj-2 {
	background-color: #FF3333;
	color: #0A0624;

	&:hover {
		background-color: white;
		color: #0A0624;
	}
}


.project-list {
	width: 94%;
	.list-item {
		display: flex;
		background-color: white;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		padding: 2.2% 12%;
		// margin: 0 4%;
		width: 76%;
		font-size: 30px;
		font-weight: 600;
		@media screen and (max-width: $medium-break) {
			font-size: 24px;
		}
		@media screen and (max-width: $small-break) {
			font-size: 22px;
			width: 98%;
			padding: 2.2% 1%;
		}
		@media screen and (max-width: $ex-small-break) {
			font-size: 20px;
		}
		.plus-minus {
			display: inline-block;
			width: 32px;
			height: 32px;
			background-image: url("../images/icons/plus-blk.png");
			background-size: 70%;
			background-repeat: no-repeat;
			background-position: center;
			transition: 1s all;
		}
	}
}
.expand-unexpand {
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 32px;
	height: 32px;
	// border: 2px solid #0A0624;
	// border-radius: 100%;
	// background-color: #0A0624;
	@media screen and (max-width: $medium-break) {
		width: 28px;
		height: 28px;
	}
	@media screen and (max-width: $small-break) {
		width: 24px;
		height: 24px;
	}

}
.rotate {
	transform: rotate(45deg);
}
.project-details {
	border-top: 18px solid white;
}
.project-team {
	width: 76%;
	// border-bottom: 10px solid white;
	display: flex;
	flex-direction: row;
	// flex-wrap: wrap;
	margin: auto;
	background-color: white;
	@media screen and (max-width: $medium-break) {
		display: flex;
		flex-direction: column;
		width: 84%;

	}
	@media screen and (max-width: $small-break) {
		width: 100%;
	}
	.twentyfive-perc {
		width: 25%;
		padding: 0 .5%;
		@media screen and (max-width: $medium-break) {
			width: 100%;
			padding: 0;
		}
	}
	.thirty-perc {
		width: 33.32%;
		padding: 0 .5%;
		@media screen and (max-width: $medium-break) {
			width: 100%;
			padding: 0;
		}
	}
	.two-thirds {
		width: 66.65%;
		padding: 0 .5%;
		@media screen and (max-width: $medium-break) {
			width: 100%;
			padding: 0;
		}
	}
	.fifty-perc {
		width: 50%;
		padding: 0 .5%;
		@media screen and (max-width: $medium-break) {
			width: 100%;
			padding: 0;
		}
	}
	.title-of {
		font-weight: 800;
		font-size: 18px;
		// letter-spacing: 2px;
		padding: 8px ;
		color: black;
		background-color: yellow;
		@media screen and (max-width: $medium-break) {
			font-size: 16px;

		}
		@media screen and (max-width: $small-break) {
			font-size: 14px;
		}
	}
	.sub-text-of {
		font-size: 18px;
		// line-height: 30px;
		background-color: white;
		color: #0A0624;
		padding: 8px;
		@media screen and (max-width: $medium-break) {
			font-size: 16px;

		}
		@media screen and (max-width: $small-break) {
			font-size: 14px;
		}
	}
}
.divider {
	width: 40%;
	margin-left: 30%;
	height: 4px;
	background-color:  white;
	margin-top: 6%;
	margin-bottom: 6%;
}

.project-cons {
	margin-left: 20%;
	padding:  6%; ;
	width: 50%;
	background-color: #0A0624;
	@media screen and (max-width: $medium-break) {
		width: 70%;
		margin-left: 9%;

	}
	@media screen and (max-width: $small-break) {
		width: 84%;
		margin-left: 2%;
	}
	.big-type-cons {
		padding: 1%;;
		font-size: 34px;
		font-weight: 600;
		color: #FAF800;
		@media screen and (max-width: $medium-break) {
			font-size: 28px;

		}
		@media screen and (max-width: $small-break) {
			font-size: 22px;
		}
	}
	.overview-copy-cons {
		padding: 0 4% 4% 1%;;
		font-size: 20px;
		line-height: 30px;
		// text-align: justify;
		margin: 3%;;
		@media screen and (max-width: $medium-break) {
			font-size: 18px;
			line-height: 26px;

		}
		@media screen and (max-width: $small-break) {
			font-size: 16px;
			line-height: 22px;
		}
	}
}

.project-overview {
	width: 76%;
	margin-top: 6%;;
	margin-left: 12%;
	margin-bottom: 3%;
	.big-type {
		width: 94%;
		padding: 3% ;
		border-top: 8px double  #FAF800;
		border-bottom: 8px double  #FAF800;
		font-size: 32px;
		font-weight: 600;
		color: #0A0624;
		@media screen and (max-width: $medium-break) {
			font-size: 26px;


		}
		@media screen and (max-width: $small-break) {
			font-size: 20px;
		}
	}
	.overview-copy {
		width: 94%;
		padding: 3%;
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		color: #0A0624;
		@media screen and (max-width: $medium-break) {
			font-size: 18px;
			line-height: 26px;


		}
		@media screen and (max-width: $small-break) {
			font-size: 16px;
			line-height: 22px;
		}
	}
	.bold-overview {
		font-weight: 600;
	}
}
.process-steps {
	// color: #0A0624;
	color: white;
	width: 76%;
	margin-left: 12%;
	margin-top:3%;
	// margin-bottom: 2%;;
	border-bottom: 2px #FAF800 dotted;
	border-top: 3px #0A0624 solid;
	.step-copy {
		padding: 3%;
		width: 94%;
		font-weight: 400;
		// letter-spacing: 1.2px;
		font-size: 28px;
		@media screen and (max-width: $medium-break) {
			font-size: 24px;
		}
		@media screen and (max-width: $small-break) {
			font-size: 20px;
		}
		.number {
			font-size: 30px;
			font-weight: 600;
			color: #FAF800;
			@media screen and (max-width: $medium-break) {
				font-size: 26px;
			}
			@media screen and (max-width: $small-break) {
				font-size: 22px;
			}
		}
	}
}
.process-step-description {
	width: 76%;
	margin-left: 12%;
	font-size: 20px;
	// text-align: justify;
	@media screen and (max-width: $medium-break) {
		font-size: 18px;
	}
	@media screen and (max-width: $small-break) {
		font-size: 16px;
	}

	.step-info {
		padding: 3%;
		width: 94%;
		line-height: 30px;
		// padding: 0 2% 2% 2%;
		@media screen and (max-width: $medium-break) {
			line-height: 26px;
		}
		@media screen and (max-width: $small-break) {
			line-height: 22px;
		}
	}
}
.image-caption {
	color: #E2E2E9;
}
#project-2-content {
	//  #FF3333 red
	//  #EEEEEE lightest grey
	//  #BCBCBC light grey
	//  #D5D5D5 grey
	//  #272727 dark grey
	//  #0C0000 black
	display: none;
	background-color: #272727;
	padding-bottom: 6%;
	.title-of {
		color: white;
		background-color: #FF3333;
	}
	.sub-text-of {
		color: #0C0000;
		background-color: white;
	}
	.divider {
		background-color: #FF3333;
	}
	.project-cons {
		background-color: #EEEEEE;
		.big-type-cons {
			color: #FF3333;
		}
		.overview-copy-cons {
			color: #0C0000 ;
		}
	}
	.project-overview {
		.big-type {
			color: white;
			border-top: 8px double  #BCBCBC;
			border-bottom: 8px double  #BCBCBC;
		}
		.overview-copy {
			color: #EEEEEE;
		}
		.overview-copy-sub {
			color: #EEEEEE;
		}
		.bold-overview {
			color: #EEEEEE;
		}
	}
	.process-steps {
		color: #EEEEEE;
		border-bottom: 2px #FF3333 dotted;
		border-top: 3px #BCBCBC solid;
		.step-copy {
				color: #EEEEEE;
			.number {
				color: #FF3333;
			}
		}
	}
	.process-step-description {
		color: #EEEEEE;
	}
	.image-caption {
		color: #BCBCBC;
	}

}
.single-starz-img-sml {
	width: 28%;
	margin-left: 36%;
	img {
		width: 100%;
	}
}
.single-starz-img {
	width: 40%;
	margin-left: 30%;
	img {
		width: 100%;
	}
}
.single-starz-img-wide {
	width: 56%;
	margin-left: 22%;
	img {
		width: 100%;;
	}
}
.single-starz-img-full {
	width: 76%;
	margin-left: 12%;
	img {
		width: 100%;;
	}
}
.two-panels {
	width: 76%;
	margin-left: 12%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.two-panel-card {
		width: 50%;
		display: flex;
		flex-direction: column;
		margin: 0 8%;
		.double-starz-img {

			img {
				width: 100%;
				// margin: 0 15%;
			}
		}
	}
}
.two-panels-large {
	width: 76%;
	margin-left: 12%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.two-panel-card {
		width: 98%;
		display: flex;
		flex-direction: column;
		margin: 0 1%;
		.double-starz-img {

			img {
				width: 100%;
				// margin: 0 15%;
			}
		}
		.image-caption {
			color: #8C8A95;
			// margin-left: 15.75%;
		}

	}
}
.three-panel {
	// margin-top: 6%;
	margin-left: 16%;
	width: 68%;
	display: flex;
	justify-content: space-between;
	align-items: top;

	.three-panels {
		display: flex;
		flex-direction: column;
		width: 30%;
		color: #8C8A95;
	}
	.three-starz-img {
		img {
			width: 100%;
		}
	}

}
.image-gap {
	margin-bottom: 3%;
}
.four-panel {
	// margin-top: 6%;
	margin-left: 16%;
	width: 68%;
	display: flex;
	justify-content: space-between;
	align-items: top;

	.four-panels {
		display: flex;
		flex-direction: column;
		width: 23%;
		color: #8C8A95;
	}
	.four-starz-img {
		img {
			width: 100%;
		}
	}
}
.video-proj {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: -10px 0;
	overflow: hidden;
	video {
		width: 100%;
		// height: 90%;
		margin: -2.3% 0;
	}

}
#super-1-title {
	.list-item {
		background-color: #ff00ff;
		&:hover {
			background-color: black;
		}
	}
	.p-title {
		color: white;
	}
	.plus-minus {
		display: inline-block;
		width: 32px;;;
		height: 32px;
		background-image: url("../images/icons/plus.png");
		background-size: 70%;
		background-repeat: no-repeat;
		background-position: center;
		transition: 1s all;
	}
}
#supernova-container {
	background-color: white;
	.header {
		padding-top: 4%;
		width: 80%;
		padding-bottom: 2%;
		img {
			width: 100%;
			margin:auto;
		}
	}
	.stz-three-screens {
		width: 45%;
		margin-bottom: -6px;;
		img {
			width: 100%;
		}
	}
	.about-starz {
		color: black;
		background-color: white;
		.about-company {
			width: 76%;
			margin: auto;
			font-size: 20px;
			line-height: 30px;
			font-weight: 700;
			text-align: justify;
			@media screen and (max-width: $medium-break) {
				font-size: 18px;
				line-height: 28px;
			}
			@media screen and (max-width: $small-break) {
				font-size: 16px;
				line-height: 26px;
			}
		}
	}
}
#super-1-content {
	//  #FF3333 red
	//  #EEEEEE lightest grey
	//  #BCBCBC light grey
	//  #D5D5D5 grey
	//  #272727 dark grey
	//  #0C0000 black
	display: none;
	background-color: #bcbcbc;
	padding-bottom: 6%;
	.title-of {
		color: white;
		background-color: #ff00ff;
	}
	.sub-text-of {
		color: #0C0000;
		background-color: white;
	}
	.divider {
		background-color: white;
	}
	.project-cons {
		background-color: black;
		.big-type-cons {
			color: #ff00ff;
		}
		.overview-copy-cons {
			color: white ;
		}
	}
	.project-overview {
		.big-type {
			color: black;
			border-top: 8px double  #ff00ff;
			border-bottom: 8px double  #ff00ff;
		}
		.overview-copy {
			color: black;
		}
		.overview-copy-sub {
			color: white;
		}
		.bold-overview {
			color: white;
		}
	}
	.process-steps {
		color: white;
		border-bottom: 2px #ff00ff dotted;
		border-top: 3px black solid;
		.step-copy {
				color: white;
			.number {
				color: #ff00ff;
			}
		}
	}
	.process-step-description {
		color: white;
		.step-info {
			.step-preface {
				color: black;
				font-weight: 600;
			}
		}
	}
	.image-caption {
		color: yellow;
	}

}
