#ui-portfolio {
	width: 100%;
	height: 100%;
	padding: 0;
	display: none;
}
#project-1-content {
    display: none;
    background: #AAA9B7;
}
#starz-container {
	background-color: rgba(0,0,0,.9);
	color: $color-lightest;
	width: 100%;
	.header {
		padding-top: 4%;
		width: 48%;
		padding-bottom: 1%;
		img {
			width: 100%;
			margin:auto;
		}
	}
	.stz-three-screens {
		width: 80%;
		img {
			width: 100%;
		}
	}
	.about-starz {
		width: 100%;
		padding-top: 4%;
		padding-bottom: 4%;
		color: $color-darkest;
		background-color: $color-lightest;
        .about-company {
            width: 76%;
            margin: auto;
            font-size: 20px;
            line-height: 30px;
            font-weight: 700;
            text-align: justify;
        }
	}
    .project-headline {
        width: 100%;
        .project-box {
            font-weight: 700;
            font-size: 30px;
            margin-left: 12%;
            margin-top: -2px;
            width: 74%;
            padding: 1% ;
            border: 2px solid $color-lightest;

        }
    }
}
#starz-proj-1 {
	background-color: #AAA9B7;
}
.project-list {
    width: 100%;
    .list-item {
        display: flex;
        color: $color-darkest;
        background-color: $color-lightest;
        border: 2px solid $color-lightest;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        margin-left: 12%;
        width: 74%;
        font-size: 30px;
        font-weight: 700;
        padding: 1% ;
    }
}

.expand-unexpand {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30px;
    height: 30px;
    margin-right: 2%;
    border: 3px solid #000;
    border-radius: 100%;
    .plus-minus {
        display: inline-block;
        // padding: 4px 4px;
        width: 30px;;;
        height: 30px;
        background-image: url("../images/icons/plus-blk.png");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(0deg);
        &:hover {
            width: 30px;;;
            height: 30px;
            border-radius: 100%;
            background-image: url("../images/icons/plus.png");
            background-size: 60%;
            background-repeat: no-repeat;
            background-position: center;
            background-color: $color-darkest;
        }
        // .minus-minus {
        //     width: 30px;;;
        //     height: 30px;
        //     background-image: url("../images/icons/minus-blk.png");
        //     background-size: 60%;
        //     background-repeat: no-repeat;
        //     background-position: center;
        //     &:hover {
        //         width: 30px;;;
        //         height: 30px;
        //         border-radius: 100%;
        //         background-image: url("../images/icons/minus-blk.png");
        //         background-size: 60%;
        //         background-repeat: no-repeat;
        //         background-position: center;
        //         background-color: $color-darkest;
        //     }
        //
        // }
    }
}
.rotate {
    transform: rotate(45deg);
}
.project-details {
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    width: 76.25%;;
    margin-left: 12%;
    font-size: 20px;
    // justify-content: center;
    // margin-bottom: 1.5%;

}
.project-team {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	// flex-wrap: wrap;

    // mar
	// padding-top: .5%;
    width: 100%;
    // margin-left: 20%;
    // border-top: 8px $color-darkest solid;
    // margin-bottom: 2%;
	.twentyfive-perc {
		width: 25%;
	}
	.thirty-perc {
		width: 33.333%;
	}
	.fifty-perc {
		width: 50%;
		// margin-top: -1%
	}
    .title-of {
        font-weight: 500;
        padding: 1%;
        border: 2px solid #E2E2E8;
        color: white;
        background-color: #0A0624;

    }
    .sub-text-of {
		// display: flex;
		// align-items: stretch;
        // margin-top: -2px;
        padding: 3.5% 1%;
        border: 2px solid #E2E2E8;
        line-height: 30px;
        background-color: white;
        color: #0A0624;
		// height: fill;

    }

}
.divider {
    width: 40%;
    margin-left: 30%;
    height: 2px;
    background-color:   #FAF800;
    margin-top: 6%;
    margin-bottom: 6%;
}
.project-cons {
    margin-left: 12%;
	padding:  8%; ;
    width: 60%;
	// border: 2% double #0A0624;
    background-color: #0A0624;
    // color: #0A0624;
    .big-type-cons {
		padding: 1%;;
        font-size: 30px;
        font-weight: 600;
        color: #FAF800;
    }
    .overview-copy-cons {
		padding: 0 4% 4% 1%;;
        font-size: 20px;
        line-height: 30px;
		text-align: justify;
    }
}
.project-overview {
    // padding-top: 2%;
    // padding-bottom: 2%;
    width: 76%;
    margin-left: 12%;
    // display: flex;
    // flex-direction: column;
    // border: 2px solid $color-lightest;
    margin-top: 2%;
    margin-bottom: 2%;
    .big-type {
        font-size: 30px;
        font-weight: 600;
        color: #0A0624;
        width: 92%;
        // margin: 0 0 1% 6%;
        padding: 4% 4% 2% 4%;
        border-bottom: 8px double  #FAF800;
        // margin-left: 20%;

		background-color: $color-lightest;
    }
    .overview-copy {
		padding: 2% 4% 4% 4%;
        // word-wrap: break-word;
        // margin: 0 0 0 7%;;
        font-size: 20px;
        color: #0A0624;
        // width: 86%;
        line-height: 30px;
		background-color: #E2E2E8;
		text-align: justify;

        // margin-left: 22%;
    }
}
.process-steps {
    color: #0A0624;
    width: 76%;
    margin-left: 12%;
    // border-bottom: 2px #0A0624 solid;
    .step-copy {
		padding: 4%;
		width: 100%;
        font-weight: 600;
        letter-spacing: 1.2px;
        font-size: 24px;
        // margin-left: 7%;
        // margin-bottom: 1%;
    }

}
.process-step-description {
    width: 76%;
    margin-left: 12%;
    font-size: 20px;
    // color: black;
	text-align: justify;
	.step-info {
		width: 96%;
		padding: 0 2% 2% 2%;
	}

}
.single-starz-img {
    width: 100%;
	padding: 3% 0;
    img {
        width: 35%;
        margin-left: 32%;
        // padding-top: -5%;;
        // height: 150px;;
    }
}
.single-starz-img-wide {
	padding: 3% 0;
	width: 56%;
	margin-left: 22%;
	img {
		width: 100%;;
	}
}
.single-panel {
    margin-top: 6%;
    margin-bottom: 6%;
    width: 48%;
    margin-left: 26%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        margin-left: 5%;
        width: 90%;
    }

}
.two-panels {
    margin-top: 4%;
    margin-bottom: 6%;
    width: 76%;
    margin-left: 12%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .double-starz-img {
        width: 100%;
        img {
            width: 70%;
            margin: 0 15% ;;
            // margin: 10%;
        }
    }
    .image-caption {
        margin-left: 15.75%;
    }
}
.four-panel {
	margin-top: 6%;
    margin-left: 12%;
    width: 76%;
    display: flex;
    justify-content:space-between;
    align-items: top;
	// flex-wrap: wrap;
	.four-panels {
		display: flex;
		flex-direction: column;
		width: 23%;
	}
    .four-starz-img {
        // width: 75%;
        // margin: 12.5%;
        img {
            width: 100%;
        }
    }

}
