@import 'gd-design';
@import 'ui-design';
#main-content {
	position: absolute;
  	left: 0;
  	right: 0;
  	margin-left: auto;
  	margin-right: auto;
  	max-width: 1440px; /* Need a specific value to work */
	width: 100%;
	height: auto;
	.portfolio-header {
		height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: $color-darker;
	}
	.portfolio-content {
		height: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.one-up {
		display: flex;
		justify-content: space-around;
		width: 46%;
		margin-top: 4%;;
		margin-bottom: 2%;;
	}
	.image-holder {
		width: 100%;
		height: auto;
		img {
			width: 100%;
			height: auto;
		}
	}
	.two-up {
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		width: 80%;
		.two-pane-right {
			width: 44%;
			// height: 50%;

			margin-top: 2%;;
			margin-bottom: 2%;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.type-container {
		width: 60%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
	}
}
